<app-header></app-header>
<app-navbar></app-navbar>
<!-- 
<app-cars [cars]="cars"></app-cars>
  <app-dealership-info [description]="'Welcome to Car Dealership e-store, where quality meets value. We offer a wide selection of new and certified pre-owned vehicles to fit your needs and budget. Our experienced team is dedicated to providing exceptional service and helping you find the perfect car.'" [founded]="1995"></app-dealership-info>
<app-contact></app-contact> -->
 <!-- <app-create-car (carCreated)="addCar($event)"></app-create-car> --> 
<!-- <app-create-car></app-create-car> -->
<router-outlet></router-outlet>
