<!-- <nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li> -->
        <!-- <li><a routerLink="/create-car">Create a new car</a></li> -->
    <!-- </ul>
</nav> -->

<mat-nav-list>
    <mat-list-item routerLink="/" routerLinkActive="active">Home</mat-list-item>
    <mat-list-item routerLink="/about" routerLinkActive="active">About</mat-list-item>
    <mat-list-item routerLink="/contact" routerLinkActive="active">Contact</mat-list-item>
  </mat-nav-list>
  
